<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('home_index') }}">Project</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('home_index') }}">
                        Home
                    </a>
                </li>
                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('user_index') }}">
                            Users
                        </a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('category_index') }}">Categories</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('product_index') }}">Products</a>
                </li>
            </ul>
            <div class="d-flex m-1">
                <input class="form-control" list="datalistOptions" id="search" placeholder="Type to search...">
                <datalist id="datalistOptions">
                    {% for product in findAllProducts() %}
                        <a href="{{ path('product_show', {'id': product.id}) }}">
                            <option value="{{ product }}">
                        </a>
                    {% endfor %}
                </datalist>
            </div>
            {% if app.user %}
                <a href="{{ path('product_new') }}" class="btn btn-outline-primary rounded-0 m-1">
                    Create a new product
                </a>
                <a href="{{ path('app_logout') }}" class="btn btn-outline-danger rounded-0">
                    Logout
                </a>
            {% else %}
                <a href="{{ path('app_login') }}" class="btn btn-outline-success rounded-0 m-1">
                    Login
                </a>
                <a href="{{ path('user_register') }}" class="btn btn-outline-primary rounded-0">
                    Register
                </a>
            {% endif %}
        </div>
    </div>
</nav>
{% for label,messages in app.flashes %}
    <div class="container">
        <div class="alert alert-{{ label }}">
            {% for message in messages %}
                <p>{{ message | raw }}</p>
            {% endfor %}
        </div>
    </div>


{% endfor %}