{% extends 'base.html.twig' %}

{% block title %}login{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card mt-5 rounded-0">
                <div class="card-body">
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                        <label for="inputEmail">Email</label>
                        <input type="email" value="{{ last_username }}" name="email"
                               id="inputEmail" class="form-control rounded-0" required autofocus>
                        <label for="inputPassword">Password</label>
                        <input type="password" name="password" id="inputPassword" class="form-control rounded-0" required>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div>
                        <div>

                            <p class="">Mot de passe oublié ? <a href="{{path('forgotten_password')}}">Récuperer</a></p>
                        </div>
                        <div class="d-grid gap-2">
                            <button class="btn btn-lg btn-primary rounded-0" type="submit">
                                Sign in
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
