{% extends 'base.html.twig' %}

{% block title %}Rating{% endblock %}

{% block body %}
    <h1>Rating</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rating.id }}</td>
            </tr>
            <tr>
                <th>Rate</th>
                <td>{{ rating.rate }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ rating.comment }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('rating_index') }}">back to list</a>

    <a href="{{ path('rating_edit', {'id': rating.id}) }}">edit</a>

    {{ include('rating/_delete_form.html.twig') }}
{% endblock %}
