{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card mt-5 rounded-0">
                {% if app.user.id is same as product.owner.id or is_granted("ROLE_ADMIN") %}
                    <div class="card-header">
                     <div class="col-md-4">
                        <img  src="{{ vich_uploader_asset(product, 'imageFile')}}">
                    </div>
                        <a href="{{ path('product_edit', {'id': product.id}) }}" class="btn btn-warning rounded-0">
                            Edit
                        </a>
                    </div>
                {% endif %}
                <div class="card-body">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ product.id }}</td>
                        </tr>
                        <tr>
                            <th>Title</th>
                            <td>{{ product.title }}</td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td>{{ product.description }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                {% if app.user.id is same as product.owner.id %}
                    <div class="card-footer">
                        <div class="d-grid gap-2 d-md-block">
                            {{ include('product/_delete_form.html.twig') }}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 offset-3">
            <hr />
            {{ include('rating/_form.html.twig') }}
        </div>
    </div>
    <div class="row">
        <div class="col-6 offset-3">
            <hr />
            <div class="list-group">
                {% for rating in ratings %}
                    <a href="#" class="list-group-item list-group-item-action {{ app.user.id is same as rating.author.id ? 'active' : '' }}"
                       aria-current="true">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ rating.author }}</h5>
                            <small>{{ rating.createdAt|ago }}</small>
                        </div>
                        <p class="mb-1">Rate : {{ rating.rate }}</p>
                        <small>{{ rating.comment }}</small>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

