{% extends 'base.html.twig' %}

{% block title %}Edit category{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card mt-5 rounded-0">
                <div class="card-header">
                    <h1>Edit a category</h1>
                </div>
                <div class="card-body">
                    {{ include('category/_form.html.twig', {'button_label': 'Update'}) }}
                </div>
                {% if is_granted("ROLE_ADMIN") %}
                    <div class="card-footer">
                        {{ include('category/_delete_form.html.twig') }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

