{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <div class="row">
        <div class="card col-12 rounded-0">
            <div class="card-header">
                <h1>Category index</h1>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Parent</th>
                        <th>Sub-Categories</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for category in categories %}
                        <tr>
                            <td>{{ category.id }}</td>
                            <td>{{ category.name }}</td>
                            <td>{{ category.parent }}</td>
                            <td>{{ formatCollection(category.subCategories) }}</td>
                            <td>
                                <a href="{{ path('category_show', {'id': category.id}) }}">show</a>
                                <a href="{{ path('category_edit', {'id': category.id}) }}">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <a href="{{ path('category_new') }}" class="btn btn-primary rounded-0">
                    Create new
                </a>
            </div>
        </div>
    </div>
{% endblock %}
