{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <div class="row">
        <div class="card col-12 rounded-0">
            <div class="card-header">
                <h1>Create new Category</h1>
            </div>
            <div class="card-body">
                {{ include('category/_form.html.twig') }}
            </div>
            <div class="card-footer">
                <a href="{{ path('category_index') }}" class="btn btn-warning rounded-0">back to list</a>
            </div>
        </div>
    </div>
{% endblock %}
