{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card mt-5 rounded-0">
                {% if is_granted("ROLE_ADMIN") %}
                    <div class="card-header">
                        <a href="{{ path('category_edit', {'id': category.id}) }}" class="btn btn-warning rounded-0">
                            Edit
                        </a>
                    </div>
                {% endif %}
                <div class="card-body">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ category.id }}</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>{{ category.name }}</td>
                        </tr>
                        <tr>
                            <th>Parent</th>
                            <td>{{ category.parent }}</td>
                        </tr>
                        <tr>
                            <th>Sub-categories</th>
                            <td>{{ formatCollection(category.subCategories) }}</td>
                        </tr>
                        <tr>
                            <th>Product</th>
                            <td>{{ formatCollection(category.products) }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                {% if is_granted("ROLE_ADMIN") %}
                    <div class="card-footer">
                        <div class="d-grid gap-2 d-md-block">
                            {{ include('category/_delete_form.html.twig') }}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

