{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-8 offset-2">
            <div class="card">
                <div class="card-header">
                    <h1>List des utilisateurs</h1>
                    {% if is_granted("ROLE_ADMIN") %}
                        <a href="{{ path('user_register') }}" class="btn btn-success rounded-0">
                            Create a user
                        </a>
                    {% endif %}
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Firstname</th>
                            <th>Address</th>
                            <th>Email</th>
                            <th>Roles</th>
                            <th>actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.name }}</td>
                                <td>{{ user.firstname }}</td>
                                <td>{{ user.address }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.roles|join(', ') }}</td>
                                <td>
                                    <a href="{{ path('user_show', {'id': user.id}) }}"
                                       class="btn btn-outline-primary rounded-0">
                                        Show
                                    </a>
                                    {% if app.user.id is same as user.id %}
                                        <a href="{{ path('user_edit', {'id': user.id}) }}"
                                           class="btn btn-outline-warning rounded-0">
                                            Edit
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="8">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
