{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card mt-5 rounded-0">
                <div class="card-header">
                    <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-warning rounded-0">
                        Edit
                    </a>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ user.id }}</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>{{ user.name }}</td>
                        </tr>
                        <tr>
                            <th>Firstname</th>
                            <td>{{ user.firstname }}</td>
                        </tr>
                        <tr>
                            <th>Address</th>
                            <td>{{ user.address }}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{ user.email }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                {% if app.user.id is same as user.id %}
                    <div class="card-footer">
                        <div class="d-grid gap-2 d-md-block">
                            {{ include('user/_delete_form.html.twig') }}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 offset-3">
            <hr />
            {{ include('rating/_form.html.twig') }}
        </div>
    </div>
    <div class="row">
        <div class="col-6 offset-3">
            <hr />
            <div class="list-group">
                {% for rating in ratings %}
                    <a href="#" class="list-group-item list-group-item-action {{ app.user.id is same as rating.author.id ? 'active' : '' }}"
                       aria-current="true">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ rating.author }}</h5>
                            <small>{{ rating.createdAt|ago }}</small>
                        </div>
                        <p class="mb-1">Rate : {{ rating.rate }}</p>
                        <small>{{ rating.comment }}</small>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
